---
import MainLayout from "../layouts/MainLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
import Underskrift from "../assets/icons/underskrift 1.svg";
import videoInterview from "../assets/video/jouxli_interview.mp4";
import backgroundOne from "../assets/icons/smykke1_om_desk.svg";
import backgroundTwo from "../assets/icons/perler_om.svg";
import backgroundTwodesk from "../assets/icons/halssmykke-modsat2.png";
import "../stylesheets/global.css";
---

<script src="../scripts/menu2.js"></script>

<MainLayout>
  <h1>jOUXli</h1>
  <div id="wrapper">
    <section class="p_om">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero possimus, itaque praesentium odit corrupti beatae fuga animi! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </section>
    <section class="underskrift_section">
      <Image src={Underskrift} alt="portrait" format={"svg"} class="underskrift" />
    </section>
    <section class="backgrounds">
      <Image src={backgroundOne} width={217} height={287} alt="background" format={"svg"} class="backgroundOne" />
      <Image src={backgroundTwo} alt="background" format={"svg"} class="backgroundTwo" />
      <Image src={backgroundTwodesk} alt="background" format={"svg"} class="backgroundTwodesk" />
    </section>
    <section class="vid_section">
      <video controls>
        <source src={videoInterview} type="video/mp4" />
      </video>
    </section>
  </div>
</MainLayout>

<style>
  #wrapper {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
  }

  .underskrift_section {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 3em;
  }

  p {
    padding-left: 1em;
  }

  .backgroundOne {
    position: absolute;
    top: 12em;
    right: -2em;
    z-index: -1;
  }

  .backgroundTwo {
    position: absolute;
    transform: scale(1);
    height: auto;
    bottom: -5em;
    z-index: -1;
    left: 0;
  }

  .backgroundTwodesk {
    display: none;
  }

  video {
    max-width: 100%;
    margin-bottom: 1em;
  }

  @media (min-width: 1000px) {
    #wrapper {
      max-width: 1000px;
    }

    .backgroundTwo {
      display: none;
    }
    .backgroundOne {
      top: 10em;
      transform: scale(1.7);
      right: 5em;
    }
    .backgroundTwodesk {
      position: absolute;
      display: block;
      width: 57%;
      height: auto;
      bottom: -30em;
      z-index: -1;
      left: -12em;
      transform: rotate(-5deg);
    }
    video {
      padding-bottom: 5em;
      max-width: 80%;
    }
    .underskrift_section {
      padding-top: 2em;
      padding-bottom: 5em;
      transform: scale(1.3);
    }

    h1 {
      font-size: var(--h1_desktop);
    }

    p {
      font-size: var(--p_desktop);
    }

    .vid_section {
      display: flex;
      justify-content: center;
    }
  }
</style>
