---
import Jewelry from "./Jewelry.astro";
const {indhold} = Astro.props;

---

<div>
    {
        indhold.map((jewelry) => (
            <Jewelry
            link={"/jewelry/" + jewelry.slug}
            name={jewelry.eventtitel}
            price={jewelry.price}
            galleryphoto={`/product_img/${jewelry.galleryphoto}`}
            photo1={`/product_img/${jewelry.photo1}`}
            photo2={`/product_img/${jewelry.photo2}`}
        />
        ))
    }
</div>


<style>

</style>